.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.form-wrapper {
  margin: 1rem;
}

.form-wrapper textarea {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 69vh;
  resize: vertical;
  background-color: #eaeaea;
}

.form-wrapper textarea:focus {
  outline: none !important;
  border-color: #482ff7;
  -webkit-box-shadow: 0 0 10px #482ff7;
  box-shadow: 0 0 10px #482ff7;
}

.form-header {
  font-weight: bold;
  font-size: 3rem;
}

.form-button {
  color: #969892;
  border-radius: 2px;
  border-style: solid;
  border-color: #969892;
  border-width: 0.5px;
  cursor: pointer;
}

.form-button:hover {
  opacity: 1;
  color: #121212;
  border-color: #121212;
  background-color: #969892;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.main-title {
  margin: auto;
  text-align: center;
  font-size: 4rem;
  padding: 1rem;
  font-weight: bold;
}

.emoji-table {
  margin: auto;
  text-align: center;
}

.article-wrapper {
  width: 50%;
  padding: 2rem;
  margin: auto;
  background-color: #f7f7f7;
  border-color: #969892;
  border-style: solid;
  border-width: 5px;
  border-radius: 5px;
}

@media only screen and (max-width: 1024px) {
  .article-wrapper {
    width: 100%;
    padding: 1rem;
    margin: auto;
    background-color: #f7f7f7;
    border-color: #969892;
    border-style: solid;
    border-width: 5px;
    border-radius: 5px;
  }
}

.video-wrapper {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

.video-wrapper iframe {
  margin: auto;
}

.map-wrapper {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

.map-wrapper iframe {
  margin: auto;
}

.bibliography {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.bibliography-header {
  padding: 1rem;
  margin: auto;
  font-size: 2rem;
  font-style: bold;
}

.bibliography-cite {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.bibliography-list {
  display: list-item;
}
